Flask==0.10.1
Flask-Admin==1.0.8
Flask-DebugToolbar==0.9.0
Flask-Login==0.2.11
Flask-Script==2.0.5
Flask-WTF==0.10.0
PyLD==0.5.4
WTForms==1.0.5
argparse==1.2.1
celery==3.1.13
flask-mongoengine==0.7.0
flower==0.7.1
mongoengine==0.8.7
requests==2.3.0
xlrd==0.9.3
