{% extends 'base.html' %}

{% block extra_js %}
    <script>
        window.onload = function() {
            var intype = document.getElementById("intype");
            var inputtext = document.getElementById("inputtext");
            var inputfile = document.getElementById("inputfile");
            function setValues(){
                console.log("tweakform", intype);
                if( intype.value === 'file'){
                    console.log("Choosing file");
                    inputfile.parentNode.style.display = 'inline';
                    inputfile.removeAttribute("disabled");
                    inputtext.parentNode.style.display = 'none';
                    inputtext.setAttribute("disabled", true);
                }else{
                    console.log("Choosing text");
                    inputfile.setAttribute("disabled", true);
                    inputfile.parentNode.style.display = 'none';
                    inputtext.removeAttribute("disabled");
                    inputtext.parentNode.style.display = 'inline';
                }
            }
            setValues();
            intype.onchange = setValues;
        }
    </script>
{% endblock %}
{% block main %}
<h1>Eurosentiment format translation</h1>
<form action="{{ url_for('frontend.process') }}" method="post" enctype="multipart/form-data">

    <div><label for="intype">Input Type</label> <select id="intype" name="intype">
            <option selected="" value="file">File</option>
            <option value="url">Specify the file URL</option>
            <option value="direct">Direct</option></select>
    </div>
    <div><label>Text input</label><input id="inputtext" type="text" name="input"></input></div>
    <div><label>File input</label><input id="inputfile" type="file" name="input"></input></div>
    <div><label for="informat">Input format</label>
        <select id="informat" name="informat">
            {% for informat in informats %}
            <option value="{{ informat.name }}">{{ informat.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div><label for="outformat">Output format</label>
        <select id="outformat" name="outformat">
            {% for outformat in outformats %}
            <option value="{{ outformat[0] }}">{{ outformat[1] }}</option>
            {% endfor %}
        </select>
    </div>
    <div><label for="language">Language</label>
        <select id="language" name="language">
            <option value="">-- Select a language--</option>
            {% for language in languages %}
            <option value="{{ language[0] }}">{{ language[1] }}</option>
            {% endfor %}
        </select>
    </div>
    <div><label>Base URI:</label><input id="base" type="text" name="base"></input></div>
    <div><label>Timeout:</label><input id="timeout" type="number" name="timeout"></input></div>
<input type="submit" value="Submit" />
</form>

{% endblock %}
